/**
* Museo Sans
*/

@font-face {
  font-family: 'MuseoSans-300';
  src: url('../webfonts/2DE541_0_0.eot');
  src: url('../webfonts/2DE541_0_0.eot?#iefix') format('embedded-opentype'), url('../webfonts/2DE541_0_0.woff2') format('woff2'), url('../webfonts/2DE541_0_0.woff') format('woff'), url('../webfonts/2DE541_0_0.ttf') format('truetype');
}

@font-face {
  font-family: 'MuseoSans-500';
  src: url('../webfonts/2DE541_1_0.eot');
  src: url('../webfonts/2DE541_1_0.eot?#iefix') format('embedded-opentype'), url('../webfonts/2DE541_1_0.woff2') format('woff2'), url('../webfonts/2DE541_1_0.woff') format('woff'), url('../webfonts/2DE541_1_0.ttf') format('truetype');
}

@font-face {
  font-family: 'MuseoSans-900';
  src: url('../webfonts/2DE541_2_0.eot');
  src: url('../webfonts/2DE541_2_0.eot?#iefix') format('embedded-opentype'), url('../webfonts/2DE541_2_0.woff2') format('woff2'), url('../webfonts/2DE541_2_0.woff') format('woff'), url('../webfonts/2DE541_2_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir';
  src: url('Avenir.ttc');
}

@font-face {
  font-family: 'Futura';
  src: url('Futura.ttc');
}






/**
* Default styles - gets overwritten at larger screen sizes
*/


body {
  font-family: "MuseoSans-300", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
}

.desktopOnly {
  display: none;
}

a.desktopOnly {
  display: none;
}

.mobileOnly {
  display: block;
}

a.mobileOnly {
  display: inline-flex;
}

.center {
  text-align: center;
}

.fullWidth {
  width: 100%;
  max-width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

.greyscale {
  -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
  filter: grayscale(100%);
}



.mainContain {
  width: 100%;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: white;
}

.headContain {
  background-color: #000;
  color: #fff;
  text-align: center;
  height: auto;
  font-family: 'Avenir';
  font-weight: 700;
}

.headContain .titleContain {
  padding-top: 25px;
  padding-bottom: 20px;
}

.headContain .titleContain h1 {
  font-size: 16px;
  letter-spacing: 3px;
}




/**
* Logos
*/

.logo {
  width: 100%;
  display: block;
}
.logo {
  width: 72px;
}

.nycLogo {
  
}
// .psalLogo,
// .compLogo {
//   width: 72px;
// }

// .erbLogo,
// .macysLogo,
// .moodsnapLogo {
//   width: 200px;
// }

.mguxLogo {
  width: 45px;

  &.blackLogo {
    opacity: 0.2;
  }
}





img, .rowContain img {
  max-width: 100%;
}

h1 {
  font-family: "MuseoSans-900", sans-serif;
  font-size: 36px;
  line-height: 40px;
  margin-top: 20px;
}

h2 {
  font-family: "MuseoSans-900", sans-serif;
  font-size: 30px;
  line-height: 36px;
  margin-top: 20px;
}

h3 {
  font-family: "MuseoSans-900", sans-serif;
  font-size: 27px;
  line-height: 32px;
}

h4 {
  font-family: "MuseoSans-300", sans-serif;
  font-size: 12px;
  color: rgba(191,191,191,1);
  line-height: 24px;
}


a {

  &.textLink {
    font-family: "MuseoSans-700", sans-serif;
    color: rgba(25,90,175,1);
    &:hover {
      color: rgba(127,219,255,1);
    }
    &:active {
      color: rgba(0,125,230,1);
    }
  }
}





.footContain {
  padding-bottom: 27px;
  padding-top: 45px;
  background-color: black;
  color: white;

  .contactEmail {
    margin-bottom: 33px;
    text-align: center;
    letter-spacing: 2px;
    color: rgb(230,230,230);
  }

  .socialLinksContain {
    margin: 0 auto;
    width: 108px;
    @include clearfix();

    .fa {
      font-size: 30px;
      opacity: 0.2;
      vertical-align: middle;

      &:hover {
        opacity: 0.5;        
      }

      &:active {
        opacity: 1;        
      }
    }

    .linkedIn {
      float: left;
    }

    .twitter {
      float: right;
    }
  }
}

.footContain h3 {
  font-size: 16px;
}


img {
  &.mobile {
    max-width: 100%;
  }

  &.desktop {
    display: none;
  }
}





/**
* Smallest screen to largest
*/

@media screen and (min-width: $breakpoint1) {
  
}




@media screen and (min-width: $breakpoint2) {

  .desktopOnly {
    display: block;
  }

  a.desktopOnly {
    display: inline-flex;
  }

  .mobileOnly {
    display: none;
  }

  a.mobileOnly {
    display: none;
  }

  .mainContain {
    max-width: 100%;
  }
  
  .mguxLogo {
    width: 54px;
  }

  p {
    font-size: 16px;
    line-height: 24px;
  }
  h1 {
   font-size: 60px;
   line-height: 72px;
  }
  h4 {
    font-size: 16px;
  }
  h2 {
    font-size: 24px;
    line-height: 48px;
  }

  img {
    &.mobile {
      display: none;
    }

    &.desktop {
      display: inline-block;
    }
  }


  .footContain {
    padding-bottom: 70px;
    padding-top: 70px;

    .contactEmail {
      float: left;
      margin-bottom: 0px;
      letter-spacing: 1px;
      color: rgb(191,191,191);
    }

    .socialLinksContain {
      float: right;
    }
  }

}




@media screen and (min-width: $breakpoint3) {
  .mguxLogo {
    width: 63px;
  }

  .logo {
  width: 90px;
  }

  p {
    font-size: 20px;
    line-height: 30px;
  }
  h1 {
    font-size: 75px;
    line-height: 90px;
  }
  h2 {
    font-size: 30px;
    line-height: 60px;
  }
  h3 {
    font-size: 30px;
    line-height: 60px;
  }
  h4 {
    font-size: 20px;
    line-height: 35px;
  }
}

