
.erbProjectPage {

}




@media screen and (min-width: $breakpoint2) {
  .erbProjectPage {

    .projectHeadSection {
      
      .erbPreviewImage {
        position: relative;
        overflow-x: hidden;
        background-image: url("../../images/erb/desktop/erbDesktopHeader.jpg");

        .erbScreenshot1 {
          width: 58%;
          position: absolute;
          right: -120px;
          bottom: -1px;
          max-width: 710px;
        }
        
      }
      
    }

    .erbLogo {
      margin-top: -9px;
    }    

  }
  
}





@media screen and (min-width: $breakpoint3) {
  .erbProjectPage {
    .erbLogo {
      margin-top: -12px;
    }
    
  }
}