$total_width: 960px;
$container_margin: auto;
$gutter_width: 20px;
.fixedWidthGrid {
  @include container();
  @include legacy-pie-clearfix();
  @include generate_helper_classes();

  .column {
    height: 100%;
  }

  .projectTextColumn {
    @include column(12, 0);
  }
}