$total_width: 320px;
$container_margin: auto;
$gutter_width: 20px;
.fixedWidthGrid {
  @include container();
  @include legacy-pie-clearfix();
  @include generate_helper_classes();

  max-height: 100%;
  overflow: hidden;

  .column {
    height: 100%;
  }

  .projectTextColumn {
    @include column(12, 0);
    box-sizing: border-box;
    padding: 0px 20px
  }

}

$total_width: $breakpoint2;
@media screen and (min-width: $breakpoint2) {
  
  .fixedWidthGrid {
    @include container();
    @include legacy-pie-clearfix();
    @include generate_helper_classes();
    .projectTextColumn {
      @include column(6, 0);
    }

  }
}


$total_width: $breakpoint3;
@media screen and (min-width: $breakpoint3) {
  
  .fixedWidthGrid {
    @include container();
    @include legacy-pie-clearfix();
    @include generate_helper_classes();
    .projectTextColumn {
      
    }

  }
}