$total_width: 100%;
$container_margin: auto;
$gutter_width: 10%; // must be percentage if total_width is percentage
.fixedWidthGrid {
  @include container();
  @include legacy-pie-clearfix();
  @include generate_helper_classes();

  max-height: 100%;
  overflow: hidden;

  .column {
    height: 100%;
  }

  .textRow > .column, .imageRow > .column {
    @include column(12, 0);
    box-sizing: border-box;
    padding: 0px 52.5px
  }

}

$gutter_width: 20px;
$total_width: $breakpoint2;
@media screen and (min-width: $breakpoint2) {
  
  .fixedWidthGrid {
    @include container();
    @include legacy-pie-clearfix();
    @include generate_helper_classes();
    .textRow, .imageRow {
      .column {
        padding: 0px;
      }
    }

    .textRow {
      > .column {
        @include column(6, 0);
      }
    }

  }
}


$total_width: $breakpoint3;
@media screen and (min-width: $breakpoint3) {
  
  .fixedWidthGrid {
    @include container();
    @include legacy-pie-clearfix();
    @include generate_helper_classes();
    .textRow .column, .imageRow .column {
      
    }

  }
}