.footerNav{
    
    // mobile-size screen
    &.fullWidthGrid {
        .previewRow {
            height: 115px;

            .hunterPreviewImage {
                background-image: url('#{$image_path}hunter/mobile/hunterMobileFooter.jpg');
            }

            .macysPreviewImage {
                background-image: url('#{$image_path}macys/macysMobileFooter.jpg');
            }

            .psalPreviewImage {
                background-image: url('#{$image_path}psal/mobile/psalMobileFooter.jpg');
            }

            .erbPreviewImage {
                background-image: url('#{$image_path}erb/mobile/erbMobileFooter.jpg');
            }

            .immigPreviewImage {
                background-image: url('#{$image_path}immig/mobile/immigMobileFooter.jpg');
            }
            
        }
    }

    // desktop-size screen
    &.fixedWidthGrid {
        .previewRow {
            height: 275px;
            margin-top: 30px;

            .hunterPreviewImage {
                background-image: url('#{$image_path}hunter/desktop/hunterDesktopFooter.jpg');
            }

            .macysPreviewImage {
                background-image: url('#{$image_path}macys/macysDesktopFooter.jpg');
            }

            .psalPreviewImage {
                background-image: url('#{$image_path}psal/desktop/psalDesktopFooter.jpg');
            }

            .erbPreviewImage {
                background-image: url('#{$image_path}erb/desktop/erbDesktopFooter.jpg');
            }

            .immigPreviewImage {
                background-image: url('#{$image_path}immig/desktop/immigDesktopFooter.jpg');
            }
            
        }

        @media screen and (min-width: $breakpoint3) {
            .previewRow {
                height: 381px;
                margin-top: 40px;
            }
        }
    }    
}