.homePage {

  /**
  * Preview containers and content
  */

  .previewImageContain {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;

    .projectLink {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .previewRow {
    height: 285px;
  }

  .previewContent {
    width: 85%;
    margin: 0 auto;
    position: relative;
    top: 40%;
  }

  .rowContain {
    /*border: 1px solid;*/
  }

  .psalRow .previewImageContain, .psalPreviewImage {
    background-image: url('#{$image_path}psal/mobile/psalMobileHome.jpg');
  }

  .erbRow .previewImageContain, .erbPreviewImage {
    background-image: url('#{$image_path}erb/mobile/erbMobileHome.jpg');
  }

  .immigRow .previewImageContain, .immigPreviewImage {
    background-image: url('#{$image_path}immig/mobile/immigMobileHome.jpg');
  }

  .macysRow .previewImageContain, .macysPreviewImage {
    background-image: url('#{$image_path}macysBG3.jpg');
  }

  .moodsnapRow .previewImageContain, .moodsnapPreviewImage {
    background-image: url('#{$image_path}MoodsnapBG3.png');
  }

  .compRow .previewImageContain, .compPreviewImage {
    background-image: url('#{$image_path}comptrollerBG2.jpg');
  }

  .opacityLayer {
    /*background-color: rgba(255, 255, 255, 0.65);*/
    width: 100%;
    height: 100%;
  }

  .erbRow .previewContent {
    top: 28%;
  }

  .moodsnapRow .previewContent {
    top: 44%;
  }

  .sectionContent {
    font-family: "MuseoSans-300", sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
  }

  .sectionContent p {
    margin-bottom: 30px;
  }

  .titleContain,
  .sectionContent {
    padding: 15px;
  }

  .imgContain {
    text-align: center;
  }

  .psalPage .specsContain .imgContain {
    padding: 20px;
  }

  .projectTitles p {
    margin-top: 40px;
    font-family: "MuseoSans-300", sans-serif;
    font-size: 14px;
    color: rgba(0,0,0,.25);
    text-decoration: underline;
  }

  .previewRow .titleContain {
    display: none;
  }

  .mguxLogo {
    position: absolute;

    &.mobile {
      top: 30px;
      left: 30px;
    }

    &.desktop {
      top: 10%;
      left: 15%;
    }

    &.blackLogo {
      opacity: 0.1;
    }
  }
  






  /**
  * Smallest screen to largest
  */

  @media screen and (min-width: $breakpoint1) {
    .previewRow {
      height: 305px;
    }
  }

  @media screen and (min-width: $breakpoint2) {
    .psalRow .previewImageContain, .psalPreviewImage {
      background-image: url('#{$image_path}psal/desktop/psalDesktopHome.jpg');
    }
    .erbRow .previewImageContain, .erbPreviewImage {
      background-image: url('#{$image_path}erb/desktop/erbDesktopHome.jpg');
    }
    .immigRow .previewImageContain, .immigPreviewImage {
      background-image: url('#{$image_path}immig/desktop/immigDesktopHome.jpg');
    }
    .macysRow .previewImageContain, .macysPreviewImage {
      background-image: url('#{$image_path}macysBG3.jpg');
    }
    .moodsnapRow .previewImageContain, .moodsnapPreviewImage {
      background-image: url('#{$image_path}MoodsnapBG3.png');
    }
    .compRow .previewImageContain, .compPreviewImage {
      background-image: url('#{$image_path}comptrollerBG2.jpg');
    }

    .previewRow {
      height: 540px;

      .titleContain {
        display: inline-block;
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        vertical-align: top;
        position: relative;

        .projectTitles {
          position: relative;
          top: 33%;
          left: 15%;
          width: 74%;
        }

        .projectTitleLink {

          &:active {
            color: rgba(0,0,0,0.80);
          }
        }

        .projectTextLink {
          &:hover {
            color: rgba(0,0,0,0.50);
          }

          &:active {
            color: rgba(0,0,0,1);
          }
        }
      }

      .previewImageContain {
        width: 100%;
        height: 100%;
      }

    }

    .projectTitle {
      font-size: 48px;
      line-height: 54px;
    }

  }
  
  @media screen and (min-width: $breakpoint3) {
    .projectTitle {
      font-size: 60px;
      line-height: 68px;
    }
  }
          

}
