
.hunterProjectPage {
  .hunterLogo {
    width: 24px;
  }
}




@media screen and (min-width: $breakpoint2) {
  .hunterProjectPage {

    .projectHeadSection {
      
      .hunterPreviewImage {
        position: relative;
        overflow-x: hidden;
        background-image: url("../../images/hunter/desktop/hunterDesktopHeader.jpg");

        .hunterScreenshot1 {
          width: 58%;
          position: absolute;
          right: -108px;
          bottom: 0px;
          max-width: 900px;
        }
        
      }
      
    }

    .hunterLogo {
      width: 36px;
    }    

  }
  
}





@media screen and (min-width: $breakpoint3) {
  .hunterProjectPage {
    .hunterLogo {
      width: 45px;
    }
    
  }
}