
.immigProjectPage {
  
  .projectTitles h2 {
    color: #000;
  }
}




@media screen and (min-width: $breakpoint2) {
  .immigProjectPage {

    .projectTitles h2 {
      color: #FFF;
    }

    .projectHeadSection {
      
      .immigPreviewImage {
        position: relative;
        background-image: url("../../images/immig/desktop/immigDesktopHeader.jpg");

        
      }
      
    }

  }
  

}





@media screen and (min-width: $breakpoint3) {

}