
.immigProjectPage {
  
  .projectTitles h2 {
    color: #000;
  }
}




@media screen and (min-width: $breakpoint2) {
  .immigProjectPage {

    .projectTitles h2 {
      color: #FFF;
    }

    .projectHeadSection {
      
      .immigPreviewImage {
        position: relative;
        overflow-x: hidden;
        background-image: url("../../images/immig/desktop/immigDesktopHeader.jpg");
      
        .immigScreenshot1 {
          width: 58%;
          position: absolute;
          right: -120px;
          bottom: 0px;
          max-width: 710px;
        }
        
      }
      
    }

    .webbyLogoColumn {
      position: relative;

      .webbyLogo {
        position: absolute;
        right: 0px;
        max-width: 280px;
      }
    }

  }
  

}





@media screen and (min-width: $breakpoint3) {

}