.projectPage {
    .mguxLogo {
      position: static;
      opacity: 0.1;

      &.mobile {
        margin-top: 30px;
        margin-bottom: 48px;
      }

      &.desktop {
        margin-bottom: 30px;

      }
      
      &:hover {
        opacity: 0.25;
      }

      &:active {
        opacity: 1;
      }
    }

    .imageSet {
      margin: 0 auto;
      max-width: 380px;
      margin-top: 48px;

      &.fullWidth {
        @extend .fullWidth;
      }
    }

    .projectTitles {
    }
    .projectLogoMobile {
      width: 54px;
    }
    .projectTitleMobile {
      margin-top: 0px;
    }

    .footerNav {
      margin-top: 60px;
    }
}


@media screen and (min-width: $breakpoint2) {

  .projectPage {

    .previewRow {
      height: 418px;
    }

    .imageSet {
      max-width: 100%;
      margin-top: 48px;
    }

    .footerNav {
      margin-top: 72px;
      margin-bottom: 56px;
    }
  }

  .projectLogoDesktop {
    width: 106px;
  }

}


@media screen and (min-width: $breakpoint3) {

  .projectPage {

    .previewRow {
      height: 534px;
    }

    .imageSet {
      margin-top: 60px;
    }

    .footerNav {
      margin-top: 90px;
      margin-bottom: 70px;
    }
  }

  .projectLogoDesktop {
    width: 132px;
  }

}