.projectPage {
    .mguxLogo {
      position: static;
      opacity: 0.1;

      &.mobile {
        margin-top: 30px;
        margin-bottom: 15px;
      }

      &.desktop {
        margin-bottom: 30px;

      }
      
      &:hover {
        opacity: 0.25;
      }

      &:active {
        opacity: 1;
      }
    }

    .imageSet {
      margin: 0 auto;
      max-width: 380px;

      &.fullWidth {
        @extend .fullWidth;
      }
    }

    p, .imageSet {
      margin-bottom: 30px;
    }

    h4 {
      margin-bottom: 40px;
    }
}


@media screen and (min-width: $breakpoint2) {

  .projectPage {

    .imageSet {
      max-width: 100%;
    }
  }

}