.projectPage {
    .mguxLogo {
      position: static;
      opacity: 0.1;

      &.mobile {
        margin-top: 30px;
        margin-bottom: 15px;
      }

      &.desktop {
        margin-bottom: 30px;

      }
      
      &:hover {
        opacity: 0.25;
      }

      &:active {
        opacity: 1;
      }
    }

    .imageSet {
      margin: 0 auto;
      max-width: 380px;

      &.fullWidth {
        @extend .fullWidth;
      }
    }

    p, .imageSet {
      margin-bottom: 30px;
    }

    .projectTitles {
    	h4 {
    		margin-bottom: 40px;
		  }
    }
    .projectLogoMobile {
      width: 44px;
    }
    .projectTitleMobile {
      margin-top: 0px;
    }
}


@media screen and (min-width: $breakpoint2) {

  .projectPage {

    .previewRow {
      height: 450px;
    }

    .imageSet {
      max-width: 100%;
    }

    .footerNav {
      margin-bottom: 70px;
    }
  }

}


@media screen and (min-width: $breakpoint3) {

  .projectPage {

    .previewRow {
      height: 540px;
    }
  }

}