
.psalProjectPage {

  .imageSet1 {

    img {
      position: relative;
      width: 60%;
    }

    .bayside {
      z-index: 1;
      float: left;
      margin-top: -95%;
    }

    .news {
      z-index: 2;
      float: right;
    }
  }
}




@media screen and (min-width: $breakpoint2) {
  .nestedRow {
    img {
      width: 65%;

      &.mockup1Desktop {
        width: 90%;
      }
    }

    &.nestedImageRow {
      .column {
        text-align: center;

        &.leftAlign {
          text-align: left;
        }
      }
    }

    &.theProblemScreenshotRow {

      .column {
        position: relative;

        .theProblemScreenshot {
          position: absolute;
          z-index: 2;
          margin-top: -40%;
          right: 0;
        }
      }
    }
  }

}





@media screen and (min-width: $breakpoint3) {

}