<div class="erbProjectPage projectPage">
  <div class="fullWidthGrid projectHeadSection desktopOnly">
    <div class="row previewRow erbRow">
      <div class="column projectHeaderColumn">
        <div class="previewImageContain"></div>
      </div>
    </div>
  </div>

  <div class="projectBodySection">
        <div ng-include="'views/projects/erbBody.html'"></div>
  </div>

  <div class="fixedWidthGrid footerNav">
    <div class="row previewRow">
      <div class="column col6">
        <div class="previewImageContain psalPreviewImage">
          <a class="projectLink" ui-sref="app.psal"></a>
        </div>
      </div>
      <div class="column col6 push6">
        <div class="previewImageContain macysPreviewImage">
          <a class="projectLink" ui-sref="app.macys"></a>
        </div>
      </div>
    </div>
  </div>
</div>
