<div class="erbProjectPage projectPage">
  <div class="fullWidthGrid">
    <div class="row previewRow erbRow">
      <div class="column projectHeaderColumn previewImageColumn">
        <div class="previewImageContain"></div>
      </div>
    </div>
  </div>

  <div class="fixedWidthGrid">
    <div class="row">
      <div class="column projectTextColumn">

        <div ng-include="'views/projects/erbBody.html'"></div>

      </div>
    </div>
  </div>

  <div class="fullWidthGrid footerNav">
    <div class="row previewRow">
      <div class="column col6">
        <div class="previewImageContain psalPreviewImage">
          <a class="projectLink" ui-sref="app.psal"></a>
        </div>
      </div>
      <div class="column col6 push6">
        <div class="previewImageContain macysPreviewImage">
          <a class="projectLink" ui-sref="app.macys"></a>
        </div>
      </div>
    </div>
  </div>
</div>
