<div>
  <div class="projectTitles">
    <h2>{{vm.erbData.name}}</h2>
    <h4>{{vm.erbData.projectType | uppercase}}</h4>
  </div>

  <div class="imageContain imageSet imageSet1">
    <img class="mobile" src="images/erb/appScreenshotMobile1.jpg">
  </div>

  <div class="projectTextContainer">
    <p>
      The Educational Records Bureau (ERB) developed the Achievement Assessment for Begining Learners (AABL) to replace its desktop assessment for children entering pre-k, kindergarden and first grade.
    </p>
    <p>
      VGD created the standardized testing platform for iPad with a web-based dashboard for supervisors and administrators. I was the UX lead on the project, while supporting our dev team and project management.
    </p>
  </div>

  <div class="imageContain imageSet imageSet1">
    <img class="mobile" src="images/erb/appMockupMobile1.jpg">
    <img class="mobile" src="images/erb/appScreenshotMobile2.jpg">
    <img class="mobile" src="images/erb/appScreenshotMobile3.jpg">
    <img class="mobile" src="images/erb/appScreenshotMobile1.jpg">
  </div>

  <h2>Admin Dashboard</h2>
  <div class="projectTextContainer">
    <p>
      We built a web-app for test administrators to monitor student progress, take notes, and receive alerts if students tapped the “help” button from their iPad.
    </p>
  </div>

  <div class="imageContain imageSet imageSet2">
    <img class="mobile" src="images/erb/appScreenshotMobile4.jpg">
  </div>

  <div class="projectTextContainer">
    <p>
      The admin dashboard is designed to be usable on both tablets and desktop computers.
    </p>
  </div>

  <div class="imageContain imageSet imageSet3">
    <img class="mobile" src="images/erb/appMockupMobile2.jpg">
  </div>

  <div class="projectTextContainer">
    <p>
      Teachers are encouraged to take notes on anything that may affect a student’s results.
    </p>
  </div>

  <div class="imageContain imageSet imageSet4">
    <img class="mobile" src="images/erb/appScreenshotMobile5.jpg">
  </div>

  <h2>Usability Testing</h2>

  <div class="imageContain imageSet imageSet4">
    <img class="mobile" src="images/erb/userMobile1.jpg">
    <img class="mobile" src="images/erb/userMobile2.jpg">
    <img class="mobile" src="images/erb/userMobile3.jpg">
    <img class="mobile" src="images/erb/userMobile4.jpg">
  </div>


</div>
