<div class="fixedWidthGrid">
    <div class="row textRow">
        <div class="column textColumn">
            <a ui-sref="app.projects">
                <img class="mguxLogo blackLogo mobile" src="images/global/mguxLogoBlack.png">
            </a>
            <div class="projectTitles mobileOnly">
                <h2>{{vm.erbData.name}}</h2>
                <h4>{{vm.erbData.projectType | uppercase}}</h4>
            </div>
        </div>
    </div>

    <div class="row imageRow">
        <div class="column imageColumn">
            <div class="imageContain imageSet imageSet1">
                <img class="mobile" src="images/erb/mobile/appScreenshotMobile1.jpg">
            </div>
        </div>
    </div>


    <div class="row textRow">
        <div class="column textColumn">
            <div>
                <p>
                    The Educational Records Bureau (ERB) developed the Achievement Assessment for Beginning Learners (AABL) to replace its desktop assessment for children entering pre-k, kindergarten and first grade.
                </p>
                <p>
                    VGD created the standardized testing platform for iPad with a web-based dashboard for supervisors and administrators. I was the UX lead on the project, while supporting our dev team and project management.
                </p>
            </div>
        </div>
    </div>



    <div class="row imageRow">
        <div class="column imageColumn">
            <div class="imageContain imageSet imageSet1">
                <img class="mobile" src="images/erb/mobile/appMockupMobile1.jpg">
                <img class="mobile" src="images/erb/mobile/appScreenshotMobile2.jpg">
                <img class="mobile" src="images/erb/mobile/appScreenshotMobile3.jpg">
                <img class="mobile" src="images/erb/mobile/appScreenshotMobile1.jpg">
                <img class="desktop" src="images/erb/desktop/appMockupDesktop1.jpg">
                <img class="desktop" src="images/erb/desktop/appScreenshotDesktop2.jpg">
                <img class="desktop" src="images/erb/desktop/appScreenshotDesktop3.jpg">
                <img class="desktop" src="images/erb/desktop/appScreenshotDesktop6.jpg">
            </div>
        </div>
    </div>


    <div class="row textRow">
        <div class="column textColumn">
            <h2>Admin Dashboard</h2>
            <div>
                <p>
                    We built a web-app for test administrators to monitor student progress, take notes, and receive alerts if students need help.
                </p>
            </div>
        </div>
    </div>



    <div class="row imageRow">
        <div class="column imageColumn">
            <div class="imageContain imageSet imageSet2">
                <img class="mobile" src="images/erb/mobile/appScreenshotMobile4.jpg">
                <img class="desktop" src="images/erb/desktop/appScreenshotDesktop4.jpg">
            </div>
        </div>
    </div>


    <div class="row textRow">
        <div class="column textColumn">
            <div>
                <p>
                    The admin dashboard is designed to be usable on both tablets and desktop computers.
                </p>
            </div>
        </div>
    </div>



    <div class="row imageRow">
        <div class="column imageColumn">
            <div class="imageContain imageSet imageSet3">
                <img class="mobile" src="images/erb/mobile/appMockupMobile2.jpg">
                <img class="mobile" src="images/erb/mobile/appScreenshotMobile5.jpg">
                <img class="desktop" src="images/erb/desktop/appMockupDesktop2.jpg">
                <img class="desktop" src="images/erb/desktop/appScreenshotDesktop5.jpg">
            </div>
        </div>
    </div>


    <div class="row textRow">
        <div class="column textColumn">
            <h2>Usability Testing</h2>
            <div>
                <p>
                    We validated students' comfort with the ipad and the interface, but in-class testing revealed that we had overlooked a few situations.
                </p>
                <p>
                    For example, the app instructed students to sit quietly and wait between sections, but the last screen did not. So students would speak up and leave their desks, disturbing those that hadn't finished.
                </p>
            </div>
        </div>
    </div>


    <div class="row imageRow">
        <div class="column imageColumn">
            <div class="imageContain imageSet imageSet4">
                <img class="mobile" src="images/erb/mobile/userMobile1.jpg">
                <img class="mobile" src="images/erb/mobile/userMobile2.jpg">
                <img class="mobile" src="images/erb/mobile/userMobile3.jpg">
                <img class="mobile" src="images/erb/mobile/userMobile4.jpg">
                <img class="desktop" src="images/erb/desktop/userDesktop1.jpg">
            </div>
        </div>
    </div>

</div>
