<div class="fixedWidthGrid">
    <div class="row textRow">
        <div class="column textColumn">
            <a ui-sref="app.projects">
                <img class="mguxLogo blackLogo mobile" src="images/global/mguxLogoBlack.png">
            </a>
            <div class="projectTitles mobileOnly">
                <div class="projectLogoContain">
                  <img class="projectLogoMobile {{vm.hunterData.alias}}Logo" ng-src="{{vm.hunterData.logoColorMobile}}">
                </div>
                <h1 class="projectTitleMobile">Hunter<br>College</h1>
                <h4>{{vm.hunterData.projectType | uppercase}}</h4>
            </div>
        </div>
    </div>

    <div class="row imageRow mobileOnly">
        <div class="column imageColumn">
            <div class="imageContain imageSet imageSet1">
                <img class="mobile" src="images/hunter/mobile/hunterScreenshotMobile1.jpg">
            </div>
        </div>
    </div>


    <div class="row textRow">
        <div class="column textColumn">
            <h2>The Challenge</h2>
            <div>
                <p>
                    As a college of the City University of New York (CUNY), the systems and information that Hunter students need are split between CUNY and Hunter websites. This disjointed experience is confusing, frustrating, and often leads to missed opportunities.
                </p>
                <p>
                    To make matters worse, Hunter’s website was built 10 years ago on an unfriendly CMS. Instead of using it, many of Hunter’s departments created their own websites, but they’ve struggled to keep information consistent and accurate over time.
                </p>
            </div>
        </div>
    </div>

    <div class="row imageRow">
        <div class="column imageColumn">
            <div class="imageContain imageSet imageSet1">
                <img class="mobile" src="images/hunter/mobile/hunterScreenshotMobile2.jpg">
                <img class="desktop" src="images/hunter/desktop/hunterScreenshotDesktop2.jpg">
            </div>
        </div>
    </div>


    <div class="row textRow">
        <div class="column textColumn">
            <div>
                <p>
                    To rein in their departments, Hunter asked VGD to help consolidate the information that undergraduate students need for academic and financial planning. That included building responsive templates with a new CMS, which would be leveraged to update their entire website later on.
                </p>
                <p>
                    As the UX/Product Architect, I directed our process from research through design. I was also responsible for collaborating with stakeholders, communicating all findings and solutions, while addressing their questions. 
                </p>
                <p>
                    I conducted all user and stakeholder research and developed the information architecture, wireframes, and early prototypes for the site. Later on, I directed developers to build additional prototypes and designers to create high fidelity designs.
                </p>
            </div>
        </div>
    </div>


    <div class="row textRow">
        <div class="column textColumn">
            <h2>Research & Validation</h2>
            <div>
                <p>
                    After being briefed on the project, Hunter staff walked me through the sites and systems students have to use. They also shared their Google Analytics account and a report on Hunter students conducted by an independent researcher before I was brought on.
                </p>
                <p>
                    Hunter had a general idea of what they wanted; a section of the website consolidating the information students’ need to succeed. It would appear as “Students” in a menu for accessing information by audience. That menu would be secondary to the main navigation, which organized information by topic.
                </p>
                <p>
                    I used Adobe Muse to create a rough prototype of their concept and went to campus to test with students. I also conducted usability tests of the current site and interviewed students on their most recent experiences.
                </p>
            </div>
        </div>
    </div>


    <div class="row imageRow">
        <div class="column imageColumn">
            <div class="imageContain imageSet imageSet2">
                <img class="mobile" src="images/hunter/mobile/hunterScreenshotMobile3.jpg">
                <img class="desktop" src="images/hunter/desktop/hunterScreenshotDesktop3.jpg">
            </div>
        </div>
    </div>


    <div class="row textRow">
        <div class="column textColumn">
            <div>
                <p>
                    I learned that students struggled to navigate and find answers on Hunter’s site. They primarily relied on Google search, but also asked for direction from friends and family who were upperclassmen.
                </p>
                <p>
                	The most critical discovery was that students expected to find all content through the main navigation, which organized information by topic. They did not try to use the menu that consolidated information for “Students.” 
                </p>
                <p>
                	While it may be a useful tool once students learn about it, it was clear that a “Students” section did not fit students’ mental model of the site. There would always be confusion about which information can be found through the main navigation or in the “Students” section.
                </p>
                <p>
                	I proposed redoing the entire website’s architecture and organizing all information by topics, instead of having a secondary audience-based section. The project’s stakeholders agreed that that would be ideal. Unfortunately, since they had received a grant to create a tool just for students, and they would be audited before we could overhaul the entire website. 
                </p>
                <p>
                	They decided to proceed with the original plan, with the understanding that some students may overlook the new section. Content within the topic based structure of the site would have to be redundant or direct students to the “Students” section.
                </p>
            </div>
        </div>
    </div>


    <div class="row textRow">
        <div class="column textColumn">
            <div>
                <h2>Information Architecture</h2>
                <p>
                    tktk
                </p>
            </div>
        </div>
    </div>


    <div class="row textRow">
        <div class="column textColumn">
            <h2>Usability Testing</h2>
            <div>
                <p>
                    tktk
                </p>
                <p>
                    tktk
                </p>
            </div>
        </div>
    </div>

</div>
