<div class="fixedWidthGrid">
    <div class="row textRow">
        <div class="column textColumn">
            <img class="mguxLogo blackLogo mobile" src="images/global/mguxLogoBlack.png">
            <div class="projectTitles mobileOnly">
                <h2>{{vm.immigData.name}}</h2>
                <h4>{{vm.immigData.projectType | uppercase}}</h4>
            </div>
        </div>
    </div>

    <div class="row imageRow">
        <div class="column imageColumn">
            <div class="imageContain imageSet imageSet1">
                <img class="mobile" src="images/immig/mobile/appScreenshotMobile1.jpg">
            </div>
        </div>
    </div>

    <div class="row textRow">
        <div class="column textColumn">
            <div>
                <p>
                    The Educational Records Bureau (ERB) developed the Achievement Assessment for Begining Learners (AABL) to replace its desktop assessment for children entering pre-k, kindergarden and first grade.
                </p>
            </div>
        </div>
    </div>
   
</div>
