<div class="fixedWidthGrid">
    <div class="row textRow">
        <div class="column textColumn">
            <a ui-sref="app.projects">
                <img class="mguxLogo blackLogo mobile" src="images/global/mguxLogoBlack.png">
            </a>
            <div class="projectTitles mobileOnly">
                <div class="projectLogoContain">
                  <img class="projectLogoMobile {{vm.immigData.alias}}Logo" ng-src="{{vm.immigData.logoColorMobile}}">
                </div>
                <h1 class="projectTitleMobile">{{vm.immigData.name}}</h1>
                <h4>{{vm.immigData.projectType | uppercase}}</h4>
            </div>
        </div>
    </div>

    <div class="row imageRow">
        <div class="column imageColumn">
            <div class="imageContain imageSet imageSet1">
                <img class="mobile" src="images/immig/mobile/appScreenshotMobile1.jpg">
            </div>
        </div>
<!--             <div class="row nestedRow nestedImageRow webbyLogoRow">
                <div class="column col6 push6 webbyLogoColumn">
                    <img class="desktop webbyLogo" src="images/immig/desktop/webbyLogoDesktop.jpg">
                </div>
            </div> -->
    </div>

    <div class="row textRow">
        <div class="column textColumn">
            <div class="row nestedRow nestedImageRow webbyLogoRow">
                <div class="column col6 push6 webbyLogoColumn">
                    <img class="desktop webbyLogo" src="images/immig/desktop/webbyLogoDesktop.jpg">
                </div>
            </div>
            <div>
                <p>
                    Great images help students understand history, but teachers often struggle to find them.
                </p>
                <p>
                    Primarily intended for classroom instruction, this app presents a curated collection of primary source documents and images from the National Archives, the Museum of the City of New York, the Lower East Side Tenement Museum, and the Museum of Jewish Heritage.
                </p>
            </div>
        </div>
    </div>

    <div class="row imageRow mobileOnly">
        <div class="column imageColumn">
            <div class="imageContain imageSet imageSet2">
                <img class="mobile" src="images/immig/mobile/webbyLogoMobile.jpg">
            </div>
        </div>
    </div>

    <div class="row textRow">
        <div class="column textColumn">
            <div>
                <p>
                    The app was released publicly in the fall of 2015 and selected as an Official Honoree by the Webby Awards in the Education & Reference category.
                </p>
            </div>
        </div>
    </div>

    <div class="row imageRow">
        <div class="column imageColumn">
            <div class="imageContain imageSet imageSet3">
                <img class="mobile" src="images/immig/mobile/appScreenshotMobile2.jpg">
                <img class="mobile" src="images/immig/mobile/appScreenshotMobile3.jpg">
                <img class="mobile" src="images/immig/mobile/appScreenshotMobile4.jpg">
                <img class="desktop" src="images/immig/desktop/appScreenshotDesktop2.jpg">
                <img class="desktop" src="images/immig/desktop/appScreenshotDesktop3.jpg">
                <img class="desktop" src="images/immig/desktop/appScreenshotDesktop4.jpg">
            </div>
        </div>
    </div>

    <div class="row textRow">
        <div class="column textColumn">
            <h2>Usability Testing</h2>
            <div>
                <p>
                    We identified most requirements by collaborating with educators early on. However, some issues only became apparent once we started testing outside of the project group.
                </p>
                <p>
                    We shared the app with teachers, librarians, and students at various grade levels. They identified problems with some of the app’s labels and navigation, while also validating many of our assumptions.
                </p>
            </div>
        </div>
    </div>

    <div class="row imageRow">
        <div class="column imageColumn">
            <div class="imageContain imageSet imageSet3">
                <img class="mobile" src="images/immig/mobile/userMobile1.jpg">
                <img class="mobile" src="images/immig/mobile/userMobile2.jpg">
                <img class="mobile" src="images/immig/mobile/userMobile3.jpg">
                <img class="desktop" src="images/immig/desktop/userDesktop1.jpg">
            </div>
        </div>
    </div>
   
</div>
