<div class="psalProjectPage projectPage">
  <div class="fullWidthGrid projectHeadSection desktopOnly">
    <div class="row previewRow psalRow">
      <div class="column projectHeaderColumn">
        <div class="previewImageContain psalPreviewImage">

          <div class="fixedWidthGrid">
            <div class="row firstRow">
              <div class="column col8">
                <div>
                  <img class="logo nycLogo" src="images/nyc_logo.png">
                </div>
                <div class="projectTitles">
                  <h2>{{vm.psalData.name}}</h2>
                  <h4>{{vm.psalData.projectType | uppercase}}</h4>
                </div>
              </div>
              <div class="column col4 push8">
                <img class="desktop news" src="images/psal/mobile/newsScreenshotMobile.jpg">
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="projectBodySection">
        <div ng-include="'views/projects/psalBody.html'"></div>
  </div>

  <div class="fixedWidthGrid footerNav">
    <div class="row previewRow">
      <div class="column col6">
        <div class="previewImageContain erbPreviewImage">
          <a class="projectLink" ui-sref="app.erb"></a>
        </div>
      </div>
      <div class="column col6 push6">
        <div class="previewImageContain immigPreviewImage">
          <a class="projectLink" ui-sref="app.immig"></a>
        </div>
      </div>
    </div>
  </div>
</div>
