<div class="fixedWidthGrid">
    <!-- split this page up into multiple grids to accomodate the full-width images -->
    <div class="row textRow">
        <div class="column textColumn">
            <a ui-sref="app.projects">
                <img class="mguxLogo blackLogo mobile" src="images/global/mguxLogoBlack.png">
            </a>
            <div class="projectTitles mobileOnly">
                <h1>{{vm.psalData.name}}</h1>
                <h4>{{vm.psalData.projectType | uppercase}}</h4>
            </div>
        </div>
    </div>


    <div class="row imageRow">
        <div class="column imageColumn">
            <div class="imageContain imageSet imageSet1 mobileOnly">
                <img class="mobile twoPhones" src="images/psal/mobile/twoPhonesMobile.jpg">
            </div>
        </div>
    </div>

    <div class="row textRow">
        <div class="column textColumn">
            <h2 class="desktopOnly">The Challenge</h2>
            <div>
                <p>
                    New York City has the largest public school athletic system in the country (PSAL). Over 150,000 people visit its website every month, but mostly from mobile devices.
                </p>
                <p>
                    VGD created a mobile app to help athletes, staff, and fans follow their favorite sports on the go. I was the UX lead on the project, while supporting our dev team and project management.
                </p>
            </div>
        </div>
    </div>

    <div class="row imageRow mobileOnly">
        <div class="column imageColumn">
            <h4 class="mobileOnly center">THE PROBLEM</h4>
            <div class="imageContain imageSet imageSetTheProblem mobileOnly">
                <img class="mobile" src="images/psal/mobile/websiteScreenshotMobile.jpg">
            </div>
        </div>
    </div>
</div>
<!-- end fixed-width grid here -->
<!-- start full-width grid here -->
<div class="fullWidthGrid mobileOnly">
    <div class="row">
        <div class="column">
            <!-- add full-width images -->
            <div class="fullWidth imageContain imageSet imageSet2 mobileOnly">
                <img class="mobile fullWidth greyscale" src="images/psal/mobile/chartMobile.jpg">
            </div>

        </div>
    </div>
</div>
<!-- end full-width grid -->
<!-- start new fixed-width grid for rest of content on this page (until footer) -->
<div class="fixedWidthGrid">
    <div class="row textRow">
        <div class="column textColumn">
            <h2>Research & Interviews</h2>
            <div>
                <p> Google Analytics revealed clear trends in user behavior. Traffic consistently spiked after school and in the evening after events.
                </p>
            </div>
        </div>
    </div>

    <div class="row imageRow desktopOnly">
        <div class="column imageColumn">
            <div class="row nestedRow nestedImageRow theProblemScreenshotRow">
                <div class="column col6 push6"><img class="desktop theProblemScreenshot" src="images/psal/desktop/websiteScreenshotDesktop.jpg"></div>
            </div>
        </div>
    </div>
</div>
<!-- end fixed-width grid here -->
<!-- start full-width grid here -->
<div class="fullWidthGrid">
    <div class="row">
        <div class="column">
            <!-- add full-width images -->
            <div class="fullWidth imageContain imageSet imageSet3 desktopOnly">
                <img class="desktop fullWidth greyscale" src="images/psal/desktop/chartDesktop.jpg">
            </div>

        </div>
    </div>
</div>
<!-- end full-width grid -->
<!-- start new fixed-width grid for rest of content on this page (until footer) -->
<div class="fixedWidthGrid">
    <div class="row textRow">
        <div class="column textColumn">
            <div>
                <p> To learn more, my team interviewed athletes, coaches, parents, athletic directors, and PSAL staff.
                </p>
                <p> We learned that people rely on the website to find event locations, rosters, rules and regulations. However, the site wasn’t designed for mobile devices, so people frequently called PSAL’s office for help.
                </p>
            </div>


            <h2>Prototypes & Testing</h2>
            <div>
                <p>Athletes, coaches, and PSAL staff tested early Axure prototypes such as this one. I enlisted and trained my teammates to conduct usability testing to help me cover the broad user-base.</p>
            </div>
        </div>
    </div>


    <div class="row imageRow">
        <div class="column imageColumn">
            <div class="imageContain imageSet imageSet4">
                <img class="mobile" src="images/psal/mobile/mockup1Mobile.jpg">
                <img class="mobile" src="images/psal/mobile/mockup2Mobile.jpg">

                <div class="row nestedRow nestedImageRow">
                    <div class="column col12"><img class="desktop" src="images/psal/desktop/mockup2Desktop.jpg"></div>
                </div>
            </div>
        </div>
    </div>


    <div class="row textRow">
        <div class="column textColumn">
            <div>
                <p>We went through several iterations before settling on the app’s information architecture. Then I refined critical user flows, such as the login and registration process, through higher fidelity prototypes built in proto.io.</p>
            </div>
        </div>
    </div>


    <div class="row imageRow">
        <div class="column imageColumn">
            <div class="imageContain imageSet imageSet5">
                <img class="mobile" src="images/psal/mobile/mockup3Mobile.jpg">

                <div class="row nestedRow nestedImageRow">
                    <div class="column col12"><img class="desktop mockup1Desktop" src="images/psal/desktop/mockup1Desktop.jpg"></div>
                </div>
            </div>
        </div>
    </div>


    <div class="row textRow">
        <div class="column textColumn">
            <h2>Specs & User Flows</h2>
            <div>
                <p>I wrote the functional specs for our dev team and worked closely with PSAL to design their web services.</p>
                <p>I also used Omnigraffle to create an interactive map of user flows. This helped our stakeholders understand the nuances of the app and visualize the progress we were making.</p>
            </div>
        </div>
    </div>


    <div class="row imageRow">
        <div class="column imageColumn">
            <div class="imageContain imageSet imageSet6 fullWidth">
                <img class="mobile" src="images/psal/mobile/userFlowMobile.jpg">
                <img class="desktop fullWidth" src="images/psal/desktop/userFlowDesktop.jpg">
            </div>
        </div>
    </div>


    <div class="row textRow">
        <div class="column textColumn">
            <div>
                <p>PSAL generates a tremendous amount of content for its 25 sports and 400+ schools. That’s why we made sure the app could be personalized to each user's needs.</p>
                <p>People were already selecting their favorite sports, teams, and athletes on the PSAL website, but the feature only offered shortcuts to each page. We extended this functionality to the app and used it to customize the news and event screens.</p>
            </div>
        </div>
    </div>

    <div class="row imageRow">
        <div class="column imageColumn">

            <div class="imageContain imageSet imageSet7">
              <div class="row nestedRow nestedImageRow">
                  <div class="column col6 leftAlign"><img class="desktop bayside" src="images/psal/desktop/baysideScreenshotDesktop.jpg"></div>
              </div>
            </div>
        </div>
    </div>
</div>
