<div class="footerNav" ng-class="vm.isMobile ? 'fullWidthGrid' : 'fixedWidthGrid'">
    <div class="row previewRow">
      <div class="column col6">
        <div class="previewImageContain {{vm.otherProjects[0]}}PreviewImage">
          <a class="projectLink" ui-sref="app.{{vm.otherProjects[0]}}"></a>
        </div>
      </div>
      <div class="column col6 push6">
        <div class="previewImageContain {{vm.otherProjects[1]}}PreviewImage">
          <a class="projectLink" ui-sref="app.{{vm.otherProjects[1]}}"></a>
        </div>
      </div>
    </div>
  </div>
</div>