<div class="footerNav" ng-class="vm.isMobile ? 'fullWidthGrid' : 'fixedWidthGrid'">
    <div class="row previewRow">
      <div class="column col6">
        <div class="previewImageContain psalPreviewImage">
          <a class="projectLink" ui-sref="app.psal"></a>
        </div>
      </div>
      <div class="column col6 push6">
        <div class="previewImageContain macysPreviewImage">
          <a class="projectLink" ui-sref="app.macys"></a>
        </div>
      </div>
    </div>
  </div>
</div>