<div class="{{project.alias}}Row previewRow rowContain row">
  <div class="column titleColumn">
    <div class="titleContain">
      <img ng-if="index === 0" class="mguxLogo blackLogo desktop" src="images/global/mguxLogoBlack.png">
      <div class="projectTitles">
        <div class="logoContain">
          <img class="logo {{project.alias}}Logo" ng-src="{{project.logoColor}}">
        </div>
        <h2><a class="projectTitleLink" ui-sref="app.{{project.alias}}">{{project.name}}</a></h2>
        <h4>{{project.projectType | uppercase}}</h4>
        <p><a class="projectTextLink" ui-sref="app.{{project.alias}}">{{project.homeSubTitle}}</a></p>
      </div>
    </div>
  </div>
  <div class="column previewImageColumn">
    <img ng-if="index === 0" class="mguxLogo mobile" src="images/global/mguxLogoWhite.png">
    <div class="previewImageContain">
      <a class="projectLink" ui-sref="app.{{project.alias}}"></a>
    </div>
  </div>
</div>