<div class="{{project.alias}}Row previewRow rowContain row">
  <div class="column titleColumn">
    <div class="titleContain">
      <div class="projectTitles">
        <div class="logoContain">
          <img class="logo {{project.alias}}Logo" ng-src="{{project.logoColor}}">
        </div>
        <h2>{{project.name}}</h2>
        <h4>{{project.projectType | uppercase}}</h4>
        <p><a ui-sref="app.{{project.alias}}">Read The Case Study</a></p>
      </div>
    </div>
  </div>
  <div class="column previewImageColumn">
    <div class="previewImageContain">
      <a class="projectLink" ui-sref="app.{{project.alias}}"></a>
    </div>
  </div>
</div>